ul.pe-list {
	list-style: disc !important;
}

ul.pe-list > li {
	margin-left: 3%;
}

.pe-scroll {
	height: 300px;
	overflow-y: scroll;
}

.pe-scroll > table td {
	padding: 5px;
}

#pe-settings-tabs fieldset {
	border: 1px solid black;
	border-radius: 6px;
	padding: 0px 12px;
	margin-bottom: 20px;
}

.pe-checklist label {
    display: block;
    width: 300px;
    margin-bottom: 2px;
}

.pe-status {
    display: inline-block;
    font-size: 25px;
}

.pe-status-enabled {
    color: #2c9b1a;
}

.pe-status-disabled {
    color: #e58484;
}

.pe-status + span {
    line-height: 25px;
    margin-left: 5px;
    margin-right: 10px;
}

.pe-status + span + input[type="submit"] {
    margin-right: 10px;
}


/* Footer */

footer {
  text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	padding-top: 30px;
}

footer .pp-rating {
	 font-size: 12px;
	 margin-bottom: 10px;
	 margin-top: 30px;
}

footer .pp-rating a,
footer .pp-rating a:visited,
footer .pp-rating a:active,
footer .pp-rating a:hover {
	 text-decoration: none;
}

.pp-rating a:hover,
.pp-rating a:active,
.pp-rating a:focus,
footer * {
	 color: #777;
}

footer hr {
	 border: 0;
	 border-top: 1px solid #ddd;
	 border-bottom: 1px solid #fafafa;
}

footer > nav {
	 margin-top: 1em;
	 margin-bottom: 1em;
}

footer > nav ul {
	 list-style: none;
}

footer > nav ul > li {
	 display: inline-block;
}

footer > nav ul > li:not(:first-child) {
	 margin-left: 15px;
}

footer > nav ul > li > a {
	 font-weight: bold;
	 text-decoration: none;
}

footer > nav ul > li > a:hover,
footer > nav ul > li > a:focus,
footer > nav ul > li > a:active {
	 color: #655997;
}

footer > nav ul > li > a span.dashicons:hover,
footer > nav ul > li > a span.dashicons:focus,
footer > nav ul > li > a span.dashicons:active {
	 color: #655997;
}

footer .dashicons.dashicons-star-filled {
	 line-height: 18px;
	 font-size: 12px;
	 width: 12px;
	 height: 12px;
	 color: #ffb300 !important;
	 -webkit-transition: color 200ms ease-in-out;
	 -moz-transition: color 200ms ease-in-out;
	 -o-transition: color 200ms ease-in-out;
	 transition: color 200ms ease-in-out;
}

footer .pp-pressshack-logo img {
	 width: 170px;
}

.form-table .widefat th {
	padding-left: 20px;
	font-weight: 400;
}

.form-table .widefat .pe-date-column,
.form-table .widefat .pe-event-column {
	width: 20%;
}

span.post-expiration-attributes {
	color: #adadad;
}

.pe-event-post {
	cursor: help;
}

.post-expirator-timestamp {
	width: 20% !important;
}