/* settings */
.post-expirator-adminnotice {
    background-color: red;
}

.post-expirator-addcolumn {
    font-size: 0.8em;
    font-weight: normal;
}

/* metabox */
#post-expirator-cat-list {
    max-width: 250px;
}

#post-expirator-cat-list ul {
    margin: 0;
}

#post-expirator-cat-list ul ul {
    margin-left: 18px;
}

.post-expirator-taxonomy-name {
    margin: 0px;
    font-style: italic;
    font-size: x-small;
}

div.pe-classic-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

div.pe-classic-fields > div {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

div.pe-classic-fields > div > label {
    font-weight: bold;
}